<header id="cabezera">
      <div id="contlm"><center>
        <div id="logo">
        	<%= image_tag "logo1.png", :alt => "Logo", :title => "Logo"%>
        </center>
        <!-- menu-->
        <nav id="menu">
            <ul>
                <li><a href="portada">INICIO</a></li>
                <li><a href="quierescomprar">QUIERES COMPRAR</a></li>
                <li><a href="quieresvender">QUIERES VENDER</a></li>
                <li><a href="contacto">CONTACTO</a></li>
            </ul>
        </nav>
      </div>
    </header>